################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Modeler3/.vs/Modeler3/v16/ipch
/Modeler3/.vs/Modeler3/v16
/Modeler3/Debug
/Modeler2/.vs/Modeler2/v16/Server/sqlite3
/Modeler2/.vs/Modeler2/v16
/Modeler2/Debug
/Modeler3/Release
/Setup
