################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Modeler3/.vs/Modeler3/v16/ipch
/Modeler3/.vs/Modeler3/v16
/Modeler3/Debug
/Modeler2/.vs/Modeler2/v16/Server/sqlite3
/Modeler2/.vs/Modeler2/v16
/Modeler2/Debug
/Modeler3/Release
/Setup
/Modeler3 - Group
/Modeler3/data/MFCD68B40E7.tmp
/Modeler3/data/MFC8333C821.tmp
/Modeler3/data/MFC221D2BAE.tmp
/Modeler3/data/Documents_1 v8
/Modeler3/data/a2
/Modeler3/data/a1
/Modeler1/.vs/Modeler1/v16
