################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Modeler3/.vs/Modeler3/v16/ipch
